In [46]:
elements = [21,38,29,17,2,25,11,32,9]

In [47]:
find_min_element(elements)

2

In [90]:
def selection_sort(arr, keys = None):
    size = len(arr)
    if keys == None:
        for i in range(size-1):
            min_index = i
            for j in range(min_index+1, size):
                if arr[j] < arr[min_index]:
                    min_index = j

            if i != min_index:
                arr[i], arr[min_index] = arr[min_index], arr[i]
    
    if keys != None:
        for key in keys:
            for i in range(size-1):
                min_index = i
                for j in range(min_index+1, size):
                    if arr[j][key] < arr[min_index][key]:
                        min_index = j
                    
                if i != min_index:
                    arr[i], arr[min_index] = arr[min_index], arr[i]

In [91]:
elements = [
        {'First Name': 'Raj', 'Last Name': 'Nayyar'},
        {'First Name': 'Suraj', 'Last Name': 'Sharma'},
        {'First Name': 'Karan', 'Last Name': 'Kumar'},
        {'First Name': 'Jade', 'Last Name': 'Canary'},
        {'First Name': 'Raj', 'Last Name': 'Thakur'},
        {'First Name': 'Raj', 'Last Name': 'Sharma'},
        {'First Name': 'Kiran', 'Last Name': 'Kamla'},
        {'First Name': 'Armaan', 'Last Name': 'Kumar'},
        {'First Name': 'Jaya', 'Last Name': 'Sharma'},
        {'First Name': 'Ingrid', 'Last Name': 'Galore'},
        {'First Name': 'Jaya', 'Last Name': 'Seth'},
        {'First Name': 'Armaan', 'Last Name': 'Dadra'},
        {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
        {'First Name': 'Aahana', 'Last Name': 'Arora'}
    ]

In [92]:
elements[2]

{'First Name': 'Karan', 'Last Name': 'Kumar'}

In [95]:
selection_sort(elements, keys = ['First Name'])

In [96]:
elements

[{'First Name': 'Aahana', 'Last Name': 'Arora'},
 {'First Name': 'Armaan', 'Last Name': 'Dadra'},
 {'First Name': 'Armaan', 'Last Name': 'Kumar'},
 {'First Name': 'Ingrid', 'Last Name': 'Galore'},
 {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
 {'First Name': 'Jade', 'Last Name': 'Canary'},
 {'First Name': 'Jaya', 'Last Name': 'Seth'},
 {'First Name': 'Jaya', 'Last Name': 'Sharma'},
 {'First Name': 'Karan', 'Last Name': 'Kumar'},
 {'First Name': 'Kiran', 'Last Name': 'Kamla'},
 {'First Name': 'Raj', 'Last Name': 'Sharma'},
 {'First Name': 'Raj', 'Last Name': 'Nayyar'},
 {'First Name': 'Raj', 'Last Name': 'Thakur'},
 {'First Name': 'Suraj', 'Last Name': 'Sharma'}]